[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.128.6",
    "loguru>=0.7.3",
    "pynput>=1.8.1",
    "pyperclip>=1.11.0",
    "uvicorn>=0.40.0",
]
